/**
 * Benji Moore Historical Collection CSS Theme
 * 
 * A curated palette of 191 colors from the Benjamin Moore Historical Collection,
 * inspired by authentic American architecture and design through the centuries.
 * 
 * Usage:
 *   - Use CSS custom properties (variables) in your stylesheets
 *   - Example: color: var(--bm-hc-1-palace-pearl);
 *   - Example: background-color: var(--bm-hc-172-revere-pewter);
 */

:root {
  /* ============================================
     HISTORICAL COLLECTION - HC-1 TO HC-14
     ============================================ */
  --bm-hc-1-castleton-mist: #D9D3A6;
  --bm-hc-2-beacon-hill-damask: #E3DBB0;
  --bm-hc-3-greenmount-silk: #EBE4C7;
  --bm-hc-4-hawthorne-yellow: #F2E2AB;
  --bm-hc-5-weston-flax: #F0E5BF;
  --bm-hc-6-windham-cream: #F3E9CB;
  --bm-hc-7-bryant-gold: #CEA86A;
  --bm-hc-8-dorset-gold: #D7B87C;
  --bm-hc-9-chestertown-buff: #D8C08D;
  --bm-hc-10-stuart-gold: #D8B972;
  --bm-hc-11-marblehead-gold: #DCC582;
  --bm-hc-12-concord-ivory: #E3CE95;
  --bm-hc-13-millington-gold: #B39D64;
  --bm-hc-14-princeton-gold: #BEAB74;
  
  /* ============================================
     HISTORICAL COLLECTION - HC-15 TO HC-28
     ============================================ */
  --bm-hc-15-henderson-buff: #C8BB8A;
  --bm-hc-16-livingston-gold: #9D8C65;
  --bm-hc-17-summerdale-gold: #BDA97A;
  --bm-hc-18-adams-gold: #D7CBA1;
  --bm-hc-19-norwich-brown: #928161;
  --bm-hc-20-woodstock-tan: #A0906F;
  --bm-hc-21-huntington-beige: #B7A98B;
  --bm-hc-22-blair-gold: #B8A577;
  --bm-hc-23-yorkshire-tan: #BDB190;
  --bm-hc-24-pittsfield-buff: #DACDAB;
  --bm-hc-25-quincy-tan: #BCAF90;
  --bm-hc-26-monroe-bisque: #D6C9AC;
  --bm-hc-27-monterey-white: #E7E4D1;
  --bm-hc-28-shelburne-buff: #C7B591;
  
  /* ============================================
     HISTORICAL COLLECTION - HC-29 TO HC-42
     ============================================ */
  --bm-hc-29-dunmore-cream: #DBCFAA;
  --bm-hc-30-philadelphia-cream: #EADEBB;
  --bm-hc-31-waterbury-cream: #DACB9F;
  --bm-hc-32-standish-white: #E8DCBD;
  --bm-hc-33-montgomery-white: #F1E3C4;
  --bm-hc-34-wilmington-tan: #C7B189;
  --bm-hc-35-powell-buff: #DBCDAB;
  --bm-hc-36-hepplewhite-ivory: #F1E5C7;
  --bm-hc-37-mystic-gold: #A28961;
  --bm-hc-38-decatur-buff: #BDA882;
  --bm-hc-39-putnam-ivory: #D7CAAE;
  --bm-hc-40-greenfield-pumpkin: #95734F;
  --bm-hc-41-richmond-gold: #B19369;
  --bm-hc-42-roxbury-caramel: #C4A47E;
  
  /* ============================================
     HISTORICAL COLLECTION - HC-43 TO HC-56
     ============================================ */
  --bm-hc-43-tyler-taupe: #AD9774;
  --bm-hc-44-lenox-tan: #BFAF92;
  --bm-hc-45-shaker-beige: #CEC2AA;
  --bm-hc-46-jackson-tan: #A58A6E;
  --bm-hc-47-brookline-beige: #BCA78C;
  --bm-hc-48-bradstreet-beige: #CEBEA7;
  --bm-hc-49-mayflower-red: #966551;
  --bm-hc-50-georgian-brick: #8F5C4D;
  --bm-hc-51-audubon-russet: #A56E59;
  --bm-hc-52-ansonia-peach: #DFB58E;
  --bm-hc-53-hathaway-peach: #EBCBAB;
  --bm-hc-54-jumel-peachtone: #ECD6BB;
  --bm-hc-55-winthrop-peach: #C7AA93;
  --bm-hc-56-georgetown-pink-beige: #DAC2AE;
  
  /* ============================================
     HISTORICAL COLLECTION - HC-57 TO HC-70
     ============================================ */
  --bm-hc-57-sheraton-beige: #E6D4BE;
  --bm-hc-58-chippendale-rosetone: #D0B4A5;
  --bm-hc-59-odessa-pink: #DEC9BC;
  --bm-hc-60-queen-anne-pink: #EDDAC8;
  --bm-hc-61-new-london-burgundy: #6F4D4F;
  --bm-hc-62-somerville-red: #936F6C;
  --bm-hc-63-monticello-rose: #CBAFA1;
  --bm-hc-64-townsend-harbor-brown: #5F4644;
  --bm-hc-65-hodley-red: #714F4B;
  --bm-hc-66-garrison-red: #855B57;
  --bm-hc-67-clinton-brown: #62564B;
  --bm-hc-68-middlebury-brown: #665A4F;
  --bm-hc-69-whitall-brown: #796D5F;
  --bm-hc-70-van-buren-brown: #5C5047;
  
  /* ============================================
     HISTORICAL COLLECTION - HC-71 TO HC-84
     ============================================ */
  --bm-hc-71-hasbrouck-brown: #614D44;
  --bm-hc-72-branchport-brown: #5E524B;
  --bm-hc-73-plymouth-brown: #7B6751;
  --bm-hc-74-valley-forge-brown: #8D7358;
  --bm-hc-75-maryville-brown: #97785B;
  --bm-hc-76-davenport-tan: #877866;
  --bm-hc-77-alexandria-beige: #A0937F;
  --bm-hc-78-litchfield-gray: #D3CABD;
  --bm-hc-79-greenbrier-beige: #B8AC91;
  --bm-hc-80-bleeker-beige: #CBC0AB;
  --bm-hc-81-manchester-tan: #D9D2BE;
  --bm-hc-82-bennington-gray: #C0B69D;
  --bm-hc-83-grant-beige: #CCC5B2;
  --bm-hc-84-elmira-white: #DAD3C5;
  
  /* ============================================
     HISTORICAL COLLECTION - HC-85 TO HC-98
     ============================================ */
  --bm-hc-85-fairview-taupe: #7A7163;
  --bm-hc-86-kingsport-gray: #928676;
  --bm-hc-87-ashley-gray: #A39A8E;
  --bm-hc-88-jamesboro-gold: #94856A;
  --bm-hc-89-northampton-putty: #A99D80;
  --bm-hc-90-crown-point-sand: #CCC3A7;
  --bm-hc-91-danville-tan: #B8AC8C;
  --bm-hc-92-wheeling-neutral: #CBBFA3;
  --bm-hc-93-carrington-beige: #D8D1BA;
  --bm-hc-94-old-salem-gray: #A29A7D;
  --bm-hc-95-sag-harbor-gray: #B6AE98;
  --bm-hc-96-richmond-gray: #CDC7AD;
  --bm-hc-97-hancock-gray: #948D73;
  --bm-hc-98-providence-olive: #AAA185;
  
  /* ============================================
     HISTORICAL COLLECTION - HC-99 TO HC-112
     ============================================ */
  --bm-hc-99-abingdon-putty: #D5CEB4;
  --bm-hc-100-gloucester-sage: #7A7667;
  --bm-hc-101-hampshire-gray: #8F8974;
  --bm-hc-102-clarksville-gray: #B0A993;
  --bm-hc-103-cromwell-gray: #7E7768;
  --bm-hc-104-copley-gray: #908A7A;
  --bm-hc-105-rockport-gray: #A7A296;
  --bm-hc-106-crownsville-gray: #857F6B;
  --bm-hc-107-gettysburg-gray: #999686;
  --bm-hc-108-jockey-hollow-gray: #ADA899;
  --bm-hc-109-sussex-green: #7F7C67;
  --bm-hc-110-wethersfield-moss: #8F8D74;
  --bm-hc-111-nantucket-gray: #AEAB95;
  --bm-hc-112-tate-olive: #818069;
  
  /* ============================================
     HISTORICAL COLLECTION - HC-113 TO HC-126
     ============================================ */
  --bm-hc-113-louisburg-green: #688068;
  --bm-hc-114-saybrook-sage: #909880;
  --bm-hc-115-georgian-green: #788860;
  --bm-hc-116-guilford-green: #a8b8a0;
  --bm-hc-117-hancock-green: #3a4a40;
  --bm-hc-118-sherwood-green: #506850;
  --bm-hc-119-kittery-point-green: #607858;
  --bm-hc-120-van-alen-green: #506048;
  --bm-hc-121-peale-green: #708868;
  --bm-hc-122-great-barrington-green: #607058;
  --bm-hc-123-kennebunkport-green: #607858;
  --bm-hc-124-caldwell-green: #485840;
  --bm-hc-125-cushing-green: #586850;
  --bm-hc-126-avon-green: #708870;
  
  /* ============================================
     HISTORICAL COLLECTION - HC-127 TO HC-140
     ============================================ */
  --bm-hc-127-fairmont-green: #6A836B;
  --bm-hc-128-clearspring-green: #7D9982;
  --bm-hc-129-southfield-green: #8EAA95;
  --bm-hc-130-webster-green: #6A7F6E;
  --bm-hc-131-lehigh-green: #7B947F;
  --bm-hc-132-harrisburg-green: #91AA99;
  --bm-hc-133-yorktowne-green: #4A595C;
  --bm-hc-134-tarrytown-green: #455652;
  --bm-hc-135-lafayette-green: #4D5F56;
  --bm-hc-136-waterbury-green: #749087;
  --bm-hc-137-mill-springs-blue: #84A09A;
  --bm-hc-138-covington-blue: #9AB4AC;
  --bm-hc-139-salisbury-green: #B2BAA6;
  --bm-hc-140-prescott-green: #C0C9B9;
  
  /* ============================================
     HISTORICAL COLLECTION - HC-141 TO HC-147
     ============================================ */
  --bm-hc-141-hollingsworth-green: #CDD4C5;
  --bm-hc-142-stratton-blue: #97A8A0;
  --bm-hc-143-wythe-blue: #AEBDB5;
  --bm-hc-144-palladian-blue: #C4D1C9;
  --bm-hc-145-van-courtland-blue: #89989D;
  --bm-hc-146-wedgewood-gray: #B0BEBD;
  --bm-hc-147-woodlawn-blue: #C4D0CA;
  --bm-hc-148-jamestown-blue: #889FA5;
  --bm-hc-149-buxton-blue: #A2B5B9;
  --bm-hc-150-yarmouth-blue: #B9C7C9;
  --bm-hc-151-buckland-blue: #698595;
  --bm-hc-152-whipple-blue: #7E9DAE;
  --bm-hc-153-marlboro-blue: #9CB8C4;
  --bm-hc-154-hale-navy: #444B55;
  --bm-hc-155-newburyport-blue: #495564;
  --bm-hc-156-van-deusen-blue: #4C5A6C;
  --bm-hc-157-narragansett-green: #465154;
  --bm-hc-158-newburg-green: #485861;
  --bm-hc-159-philipsburg-blue: #667784;
  
  /* ============================================
     HISTORICAL COLLECTION - GRAYS
     ============================================ */
  --bm-hc-160-knoxville-gray: #616C6C;
  --bm-hc-161-templeton-gray: #7A8586;
  --bm-hc-162-brewster-gray: #8C9696;
  --bm-hc-163-duxbury-gray: #80867F;
  --bm-hc-164-puritan-gray: #999F9B;
  --bm-hc-165-boothbay-gray: #ABB2B0;
  --bm-hc-166-kendall-charcoal: #676662;
  --bm-hc-167-amherst-gray: #757671;
  --bm-hc-168-chelsea-gray: #86847D;
  --bm-hc-169-coventry-gray: #B8BAB6;
  --bm-hc-170-stonington-gray: #CACBC5;
  --bm-hc-171-wickham-gray: #D5D8D3;
  
  /* ============================================
     HISTORICAL COLLECTION - NEUTRALS & TAUPES
     ============================================ */
  --bm-hc-172-revere-pewter: #CAC6B9;
  --bm-hc-173-edgecomb-gray: #D8D3C5;
  --bm-hc-174-lancaster-whitewash: #E5E1CD;
  --bm-hc-175-briarwood: #9F988B;
  --bm-hc-176-annapolis-gray: #C7BEB1;
  --bm-hc-177-richmond-bisque: #D6C7AA;
  --bm-hc-178-charcoal-slate: #656769;
  --bm-hc-179-platinum-gray: #A8A9A3;
  --bm-hc-180-cliffside-gray: #CDD0CA;
  
  /* ============================================
     HISTORICAL COLLECTION - DEEP TONES
     ============================================ */
  --bm-hc-181-heritage-red: #8C1F1D;
  --bm-hc-182-classic-burgundy: #601F1D;
  --bm-hc-183-country-redwood: #6D3127;
  --bm-hc-184-cottage-red: #5F2E28;
  --bm-hc-185-tudor-brown: #4C3B31;
  --bm-hc-186-charleston-brown: #6F533D;
  --bm-hc-187-black-forest-green: #262E2C;
  --bm-hc-188-essex-green: #2A362F;
  --bm-hc-189-chrome-green: #1C3E2E;
  --bm-hc-190-black: #313132;
  --bm-hc-191-hamilton-blue: #64757E;

  /* ============================================
     SEMANTIC COLOR ALIASES
     ============================================ */
  
  /* Primary Palette */
  --bm-primary-light: var(--bm-hc-1-castleton-mist);
  --bm-primary: var(--bm-hc-172-revere-pewter);
  --bm-primary-dark: var(--bm-hc-166-kendall-charcoal);

  /* Accent Colors */
  --bm-accent-gold: var(--bm-hc-14-princeton-gold);
  --bm-accent-green: var(--bm-hc-123-kennebunkport-green);
  --bm-accent-blue: var(--bm-hc-154-hale-navy);
  --bm-accent-red: var(--bm-hc-181-heritage-red);

  /* Neutral Palette */
  --bm-neutral-100: var(--bm-hc-32-standish-white);
  --bm-neutral-200: var(--bm-hc-84-elmira-white);
  --bm-neutral-300: var(--bm-hc-170-stonington-gray);
  --bm-neutral-400: var(--bm-hc-82-bennington-gray);
  --bm-neutral-500: var(--bm-hc-153-marlboro-blue);
  --bm-neutral-600: var(--bm-hc-166-kendall-charcoal);
  --bm-neutral-700: var(--bm-hc-141-black-river);
  --bm-neutral-800: var(--bm-hc-190-black);

  /* Background Colors */
  --bm-bg-light: var(--bm-hc-1-palace-pearl);
  --bm-bg-warm: var(--bm-hc-46-morristown-cream);
  --bm-bg-cool: var(--bm-hc-99-hampton-blue);
  --bm-bg-dark: var(--bm-hc-166-kendall-charcoal);

  /* Text Colors */
  --bm-text-primary: var(--bm-hc-141-black-river);
  --bm-text-secondary: var(--bm-hc-166-kendall-charcoal);
  --bm-text-muted: var(--bm-hc-153-pewter);
  --bm-text-inverse: var(--bm-hc-158-chantilly-lace);

  /* Surface Colors */
  --bm-surface-light: var(--bm-hc-158-chantilly-lace);
  --bm-surface-warm: var(--bm-hc-172-revere-pewter);
  --bm-surface-cool: var(--bm-hc-94-wythe-blue);
}

/* ============================================
   UTILITY CLASSES
   ============================================ */

/* Background utilities */
.bg-palace-pearl { background-color: var(--bm-hc-1-palace-pearl); }
.bg-revere-pewter { background-color: var(--bm-hc-172-revere-pewter); }
.bg-hale-navy { background-color: var(--bm-hc-154-hale-navy); }
.bg-kendall-charcoal { background-color: var(--bm-hc-166-kendall-charcoal); }
.bg-wythe-blue { background-color: var(--bm-hc-94-wythe-blue); }
.bg-kennebunkport-green { background-color: var(--bm-hc-76-kennebunkport-green); }
.bg-heritage-red { background-color: var(--bm-hc-181-heritage-red); }
.bg-princeton-gold { background-color: var(--bm-hc-14-princeton-gold); }

/* Text utilities */
.text-palace-pearl { color: var(--bm-hc-1-palace-pearl); }
.text-revere-pewter { color: var(--bm-hc-172-revere-pewter); }
.text-hale-navy { color: var(--bm-hc-154-hale-navy); }
.text-kendall-charcoal { color: var(--bm-hc-166-kendall-charcoal); }
.text-heritage-red { color: var(--bm-hc-181-heritage-red); }

/* Border utilities */
.border-palace-pearl { border-color: var(--bm-hc-1-palace-pearl); }
.border-revere-pewter { border-color: var(--bm-hc-172-revere-pewter); }
.border-hale-navy { border-color: var(--bm-hc-154-hale-navy); }
.border-kendall-charcoal { border-color: var(--bm-hc-166-kendall-charcoal); }

/* ============================================
   COLOR PALETTE PREVIEW (for documentation)
   ============================================ */

/*
 * To preview all colors, you can use this HTML structure:
 *
 * <div class="bm-palette">
 *   <div class="bm-swatch" style="background: var(--bm-hc-1-palace-pearl);">
 *     <span>HC-1 Palace Pearl</span>
 *   </div>
 *   <!-- ... repeat for all colors -->
 * </div>
 */

.bm-palette {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.bm-swatch {
  aspect-ratio: 1;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.bm-swatch:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.bm-swatch span {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  color: #333;
}
